body{
    background-image: url(background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.hidden{
    display: none;
}
.header{
    position: sticky;
    color: black;
    text-align: center;
    font-size: 50px;
    width: 100%;
    height: 12%;
    background-color: #B8DBD9;
    text-align: center;
    box-shadow: 0px 10px 30px #586F7C;
}
.main-background{
    margin-top: 0px;
    width: 100%;
    height: max-content;
    background-color: rgb(244, 244, 249 , 0.3);
    padding-top: 50px;
}
.main{
    box-shadow: 10px 0px 15px #B8DBD9 , -10px 0px 15px #B8DBD9;
    font-size: 20px;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    margin-top: 0px;
    background-color: #586F7C;
    width: 50%;
}
.page-break{
    color: black;
    background-color: black;
}
.main-title{
    font-size: 35px;
}
.percentage-input{
    font-size: 16px;
    margin-top: 20px;
    outline: none;
    border: none;
    width: 25%;
    height: 25px;
    background-color: #B8DBD9;
    padding: 10px;
}
.percentage-input::placeholder{
    color: black;
}